@{
    ViewData["Title"] = "درباره سایت";
}
<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-3">
        <h2>اجزای استفاده شده</h2>
        <ul>
            <li>ASP.NET Core MVC</li>
            <li>SQL Server</li>
            <li>Bootstrap</a></li>
            <li>Bootstrap-RTL</a></li>
        </ul>
    </div>
    <div class="col-md-9">
        <p>پروژه ی پایگاه داده دانشگاه کرج</p>
        <p>استاد: پروفسور علی جماعت</p>
    </div>
</div>
