@{
    ViewData["Title"] = "تماس با ما";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>ایمیل پشتیبانی:</strong> <a href="mailto:hamidreza77@outlook.com">hamidreza77@outlook.com</a><br />
    <strong>مخزن پروژه:</strong> <a href="http://www.github.com/hamidrezahy/laundry">hamidrezahy/laundry</a>
</address>
